:root {
    --main: #7286D3;
    --light-main: #8EA7E9;
    --dark-main: #6f80c4;
    --white: #ffffff;
    --dark-white: #eaeaea;
    --white-background: #F6FAF9;
    --text: #f0f4f5;
    --button: #7286D3;
    --button-hover: #c9c2eb;
    --gray-border: #AFA9A9;
    --default-gray: #D9D9D9;
}

html,
body {
    text-align: center;
    font-family: 'Source Sans Pro';
    height: 100%;
}

a {
    text-decoration: none;
}

div {
    text-align: center;
}

button {
    border: none;
    color: #000000;
    background-color: var(--button);
    cursor: pointer;
    font-size: 1rem;
    border-radius: 25px;
    width: 160px;
    height: 55px;
    flex-shrink: 0;
    margin-bottom: 8px;
}

button:hover {
    background-color: var(--dark-main);
}

h4 {
    margin: 0;
    padding: 1.33em;
}

h3 {
    margin: 0;
    padding: 1em;
}

.flex_container {
    display: flex;
    justify-content: center;
}

.rect_content {
    width: 332px;
    height: 253px;
    margin: 15px;
    border-radius: 25px;
    background-color: var(--default-gray);
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main);
}

.title_logo {
    padding: 5px 0px 0px 57px;
    flex: 1;
}

.title_logo img {
    height: 40px;
}

.main_page_title_logo {
    padding-top: 220px;
    padding-bottom: 120px;
    display: flex;
    width: 319.6px;
    height: 47px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.side_bar {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 53px;
    right: 0;
    background-color: var(--white-background);
    overflow-x: hidden;
    transition: 0.3s;
}

.side_bar a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: block;
    transition: 0.3s;
}

.side_bar .side_bar_list_container a {
    padding: 10px 33px;
    text-align: left;
    border-bottom: 0.5px solid var(--gray-border);
}

.side_bar .side_bar_list_container a:hover {
    color: var(--main);
}

.profile_container {
    padding: 10px 33px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--light-main);
}

.profile_img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0px;
}

.profile_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn_container {
    display: flex;
    justify-content: flex-end;
    background-color: var(--light-main);
}

.btn_container a:hover {
    background-color: var(--dark-main);
}

.settingsbtn {
    padding: 10px 10px;
}

.side_bar_closebtn {
    padding: 10px 13px;
    font-size: 30px;
}

.openbtn {
    font-size: 30px;
    cursor: pointer;
    background-color: var(--main);
    color: var(--white);
    padding: 6px 15px;
    border: none;
}

.openbtn:hover {
    background-color: var(--dark-main);
}

.navbar_logo {
    background-color: var(--main);
}

.content {
    height: 100%;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    row-gap: 15px;
    padding: 30px;
    border: 1px solid lightgray;
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

#new_main_page_background {
    background-color: #7286D3;
}

#login_button {
    background-color: none;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    margin-bottom: 30px;
}

#login_button:hover {
    background-color: var(--dark-main);
}

#signup_button {
    border-radius: 10px;
    background-color: white;
    color: #7286D3;
}

#signup_button:hover {
    background-color: var(--dark-white);
}

#login_and_signup_button {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#input_d {
    border: none;
    color: #000000;
    background-color: var(--button);
    cursor: pointer;
    font-size: 1rem;
    border-radius: 25px;
    width: 160px;
    height: 55px;
    flex-shrink: 0;
    margin: 8px;
}

#input_d:hover {
    background-color: var(--button-hover);
}

#div_1 {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    font-size: medium;
    white-space: nowrap;
    text-align: center;
}

#coversation_mode,
#conversation_history,
#video_mode {
    border: none;
    color: #000000;
    background: #F6FAF9;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 25px;
    width: 296px;
    height: 104px;
    flex-shrink: 0;
    margin-bottom: 8px;
}

#coversation_mode:hover,
#conversation_history:hover,
#video_mode:hover {
    background: #f4fffb;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    color: #6f80c4;
}

.rect_content_2 {
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
    background-color: var(--default-gray);
}

.coversation_history_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 수직 가운데 정렬 */
    justify-content: center;
}

#delete {
    background-color: white;
    border: none;
    text-decoration-line: underline;
    font-size: 11px;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    margin-left: 250px;
}