.chatroom_container {
    position: relative;
    z-index: 1;
}

.container {
    position: relative;
    z-index: 2;
}

.room_code {
    font-size: 20px;
}

.users_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.user {
    color: #7286D3;
    border: 1px solid #7286D3;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}
