html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: 'Source Sans Pro';
    background-color: #ffffff;
    font-size: 14px;
}

.navbar_logo {
    background-color: #7286D3;
}

a {
    text-decoration: none;
    color: #f0f4f5;
    font-size: 40px;
}

form {
    padding-top: 20px;
}

div {
    margin: 0 auto;
}

.navbar_logo {
    background-color: #7286D3;
    height: 55px;
    flex-shrink: 0;
}

.join-wrapper {
    width: 400px;
    height: 350px;
    padding: 40px;
    box-sizing: border-box;
}

#join-form>input {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    height: 48px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F6FAF9;
}

#join-form>button {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    height: 48px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #EAEAEA;
    color: #6B6666;
}