body {
    background-color: #EAEAEA;
}

.history_date_text {
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 260px;
    height: 30px;
    background-color: var(--main);
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: none;
    /* border: 3px solid #736754; */
    border-radius: 20px;
    color: white;
}

.message {
    width: 260px;
    height: 30px;
    border-radius: 5px;
}

.sent {
    background-color: #000000;
    color: rgb(255, 255, 255);
    text-align: right;
    align-self: flex-end;
}

.received {
    background-color: #ffffff;
    color: #333;
    text-align: left;
    align-self: flex-start;
}