/* #menu_bar {
    font-size: small;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #7286D3;
    padding: 8px 12px;
}

.navbar_logo {
    background-color: #7286D3;
    height: 60px;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0px;
}

.navbar__menu li {
    padding: 8px 12px;
}

.navbar__menu :hover {
    background: #d49466;
    border-radius: 4px;
}

div {
    text-align: center;
    margin: 0 auto;
} */


/* .material-symbols-outlined {
    color: rgb(255, 255, 255);
    float: right;
    margin-right: 30px; */


/* display: inline-block; */


/* padding-top: 15px;
    position: absolute;
    right: 32px; */


/* } */


/* button {
    position: relative;
    z-index: 0;
    border: none;
    color: #000000;
    background-color: #E5E0FF;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 25px;
    width: 200px;
    height: 55px;
    flex-shrink: 0;
    margin-top: 20px;
}

button:hover {
    background-color: #696969;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    row-gap: 15px;
    padding: 30px;
    border: 1px solid lightgray;
    border-radius: 7px;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.2);
}

.navbar__toggleBtn {
    color: var(--accent-color);
    position: absolute;
    right: 15px;
    font-size: 20px;
} */


/* #input_d {
    border: none;
    color: #000000;
    background-color: var(--button);
    cursor: pointer;
    font-size: 1rem;
    border-radius: 25px;
    width: 160px;
    height: 55px;
    flex-shrink: 0;
    margin: 8px;
} */


/* .menu a {
    color: #fff;
} */


/* .submenu>li {
    margin-top: 25px;
    line-height: 50px;
    background-color: #7286D3;
    margin-left: 50px;
}

.submenu {
    height: 0;
    overflow: hidden;
} */


/* .menu>li:hover {
    background-color: #7286D3;
    transition-duration: 0.5s;
}

.menu>li:hover .submenu {
    height: 450px;
    transition-duration: 1s;
} */