{% extends "base-without-sidebar.html" %} {% block script %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/historypage-style.css') }}"> {% endblock %} {% block content %}

<div>
    <div class="history_date_text">2023-08-19 오전 9:30</div>

    <div class="conversation">
        <span class="message sent">
            <!-- <span class="profile"></span> -->
        <p id="text">메시지 1</p>
        </span>
        <div class="message sent">
            <!-- <span class="profile"></span> -->
            <p id="text">메시지 2</p>
        </div>

        <div class="message sent">
            <!-- <span class="profile"></span> -->
            <p id="text">메시지 3</p>
        </div>

        <div class="message sent">
            <!-- <span class="profile"></span> -->
            <p id="text">메시지 4</p>
        </div>

        <div class="message sent">
            <!-- <span class="profile"></span> -->
            <p id="text">메시지 5</p>
        </div>
    </div>


</div>

<script>
</script>
{% endblock %}