{% extends "base-no-subtitle.html" %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/settings-style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/howtouse-style.css') }}"> {% endblock %} {% block content %}
<br>
<p id="title">난청인을 위한 웹 서비스 OVER THE GLASS</p>
<br>
<button id="question">이용 문의</button>
<br><br>
<hr>
<br><br><br>
<iframe width="350" height="220" src="https://www.youtube.com/embed/lNzgwHe1Ay8?si=jK7Z0Qng86K5MO88" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe> {% endblock %}