{% extends "base.html" %}
{% block head %}
    <script>
        function goToConversationMode() {
            location.href = "{{ url_for('chatroom') }}";
        }

        function conversationHistory() {
            location.href = "{{ url_for('record')}}";
        }

        function goToVideoMode() {
            location.href = "{{ url_for('video_mode')}}";
        }
    </script>
{% endblock %}
{% block content %}
    <h4 id="welcome-message"></h4>
    {% if name %}
        <h4>{{ name }} 님, 환영합니다!</h4>
    {% else %}
    <p>Error name을 가져오지 못했습니다</p>
    {% endif %}

    <button id="coversation_mode" onclick="goToConversationMode()">대화모드</button><br><br>
    <button id="conversation_history" onclick="conversationHistory()">대화기록</button><br><br>
    <button id="video_mode" onclick="goToVideoMode()">영상시청모드</button>

    <script>
        function getCookie(name) {
            console.log("name", name)
            var value = "; " + document.cookie;
            console.log("value", value)
            var parts = value.split("; " + name + "=");
            if (parts.length === 2) {
                return parts.pop().split(";").shift();
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            var welcomeMessage = document.getElementById("welcome-message");
            var token = getCookie("token"); // 토큰 값 가져오기
            console.log("token", token)
            if (token) {
                // 토큰이 존재할 경우 처리할 내용
                // 예: 토큰을 해독하여 사용자 정보 가져오기 등
                welcomeMessage.textContent = "토큰을 확인했습니다.";
            } else {
                welcomeMessage.textContent = "토큰이 없습니다.";
            }
        });
    </script>
{% endblock %}