{% extends "base-no-subtitle.html" %} 
{% block head %}
    <script>
        function nonmember_goToConversationMode() {
            location.href = "{{ url_for('photo')}}";
        }
    </script>
{% endblock %} 
{% block content %}
    {% if name %}
        <h4> [자막 미사용자] {{ name }} 님, 환영합니다!</h4>
    {% else %}
    <p>Error name을 가져오지 못했습니다</p>
    {% endif %}
    <button id="coversation_mode" onclick="nonmember_goToConversationMode()" style="margin-top: 20px;">대화방 참여</button><br><br>
    <script>
        const openButton = document.querySelector('.open');
        const container = document.querySelector('.container');
        const closeButton = document.querySelector('.close');

        openButton.addEventListener('click', () => {
            container.style.display = 'flex';

        });

        closeButton.addEventListener('click', () => {
            container.style.display = 'none';

        });

        function getCookie(name) {
            console.log("name", name)
            var value = "; " + document.cookie;
            console.log("value", value)
            var parts = value.split("; " + name + "=");
            if (parts.length === 2) {
                return parts.pop().split(";").shift();
            }
        }

        // document.addEventListener("DOMContentLoaded", function() {
        //     var welcomeMessage = document.getElementById("welcome-message");

        //     var token = getCookie("token"); // 토큰 값 가져오기
        //     console.log("token", token)
        //     if (token) {
        //         // 토큰이 존재할 경우 처리할 내용
        //         // 예: 토큰을 해독하여 사용자 정보 가져오기 등
        //         welcomeMessage.textContent = "토큰을 확인했습니다.";
        //     } else {
        //         welcomeMessage.textContent = "토큰이 없습니다.";
        //     }
        // });
    </script>
{% endblock %}