{% extends "base-no-subtitle.html" %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/settings-style.css') }}"> {% endblock %} {% block content %}
<div>
    <button id="modify_mypage_nickname">닉네임 수정</button><br>
    <button id="modify_mypage_subtitles_ox">자막 사용</button><br>

    <a><input type="button" value="회원 탈퇴" id="modify_mypage_unregister"></a>
</div>

<div class="container_2">
    <div class="modal_2">
        <div><a href="{{ url_for('nonmember_settings') }}" id="close_2">x</a></div>
        <div id="text1">닉네임 수정 <input type="text" id="nickname"></input>
        </div>
        <div id="text1">상태메세지 수정 <input type="text" id="status_message"></input>
        </div><br>
        <button id="save">저장</button>
        <!-- <button class="close">Close</button> -->
        <!-- <button id="nickname" onclick="goToConversationMode()">닉네임 수정</button> -->
        <!-- <button id="message" onclick="joinChatRoom()">상태메세지 수정</button> -->
    </div>
</div>
<div class="container_3">
    <div class="modal_3">
        <div><a href="{{ url_for('nonmember_settings') }}" id="close_3">x</a></div>
        <div id="use_subtitles">
            <input type="checkbox">자막 사용
        </div>
        <div id="subtitles_not_used">
            <input type="checkbox">자막 미사용
        </div><br>
        <button id="save">저장</button>
    </div>
</div>
<div class="container_6">

    <div class="modal_6">
        <nav class="nav_bar_2">
            <!-- <a id="urg ">▶ 탈퇴</a> -->
            <p id="unregister">OVER THE GLASS에서 탈퇴하시겠습니까?</p>
        </nav>
        <div>
            <a href=""><input type="button" value="취소" id="unregister_ox"></a>
            <a href=""><input type="button" value="확인" id="unregister_ox"></a>
            <!-- <button href="# " id="unregister_1 ">취소</button>
                <button href="# " id="unregister_1 ">확인</button> -->
        </div>
    </div>
</div>
<script>
    const openButton = document.querySelector('#modify_mypage_nickname');
    const container = document.querySelector('.container_2');
    const closeButton = document.querySelector('#save');

    openButton.addEventListener('click', () => {
        container.style.display = 'flex';

    });

    closeButton.addEventListener('click', () => {
        container.style.display = 'none';

    });
</script>
<script>
    const openButton2 = document.querySelector('#modify_mypage_subtitles_ox');
    const container2 = document.querySelector('.container_3');
    const closeButton2 = document.querySelector('#save');

    openButton2.addEventListener('click', () => {
        container2.style.display = 'flex';

    });

    closeButton2.addEventListener('click', () => {
        container2.style.display = 'none';

    });
</script>
<script>
    const openButton5 = document.querySelector('#modify_mypage_unregister');
    const container5 = document.querySelector('.container_6');
    const closeButton5 = document.querySelector('#save');

    openButton5.addEventListener('click', () => {
        container5.style.display = 'flex';

    });

    closeButton5.addEventListener('click', () => {
        container5.style.display = 'none';

    });
</script>
{% endblock %}