{% extends "base-without-sidebar.html" %}
{% block script %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %} 
{% block title %}
    회원가입
{% endblock %}
{% block content %}
    <div class="wrapper">
        <form method="post" id="signup-form" action="/signup">
            <input type="text" name="userName" id="name" placeholder="이름">
            <input type="email" name="userEmail" id="em" placeholder="이메일">
            <input type="password" name="userPassword1" id="pw" placeholder="비밀번호">
            <input type="password" name="userPassword2" id="r_pw" placeholder="비밀번호 확인">
            <lable for="remember-check" style="margin-right: 200px;">
                <input type="checkbox" name="subtitle" value='1'>자막 사용 여부
            </lable>
            <!-- lable의 for의 값과 양식의 id의 값이 같으면 연결된다. -->
            <input type="submit" value="회원가입" style="background-color: #8EA7E9; color: #F6FAF9;">
        </form>
    </div>
    <script>
        function showAlert(message, redirectTo) {
            alert(message);
            if (redirectTo) {
                window.location.href = redirectTo; // 지정된 페이지로 이동
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            var signupForm = document.getElementById("signup-form");

            signupForm.addEventListener("submit", function(event) {
                event.preventDefault(); // 폼 기본 동작 중단

                var formData = new FormData(signupForm);

                fetch("/signup", {
                        method: "POST",
                        body: formData
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.error) {
                            showAlert(data.error);
                        } else {
                            showAlert(data.message, "/login"); // 회원가입 성공 시 로그인 페이지로 이동
                        }
                    })
                    .catch(error => {
                        if (error.response) {
                            var errorMessage = error.response.error;
                            showAlert(errorMessage);
                        }
                    });
            });
        });
    </script>
{% endblock%}