{% extends "base.html" %} 
{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.dom.min.js"></script>
    <script src="{{ url_for('static', filename='libraries/p5.speech.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chatroom.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> 
{% endblock %} 
{% block content %}
    <br>
    <span class="material-symbols-outlined" style="font-size: 150px; text-align: center;">smart_display</span>
    <br>
    <div id="output">
        <p id="outputText">who said what</p>
    </div>
    <button id="conversation_button" onclick="conversation_button()">영상시청모드 시작</button>
    <div class="debug_log" id="debug_log">
        <p>debug log</p>
    </div>
    <script>
        let speechRec = new p5.SpeechRec('ko-kr', gotSpeech);
        let outputText = "";
        let continuous = true;
        let interimResults = true;
        let said = ''; // 음성 결과를 저장하는 변수
        let speakerName = '';

        const conversationBtn = document.getElementById('conversation_button');
        const debugLog = document.getElementById('debug_log');

        function setup() {
            noCanvas();
            outputTextElement = document.getElementById('outputText');
            speechRec.onEnd = restart;
        }

        function gotSpeech() {
            if (speechRec.resultValue) {
                said = speechRec.resultString;
                outputTextElement.innerHTML = speakerName + "," + said;
                var jsonData = {
                    flag: 'show subtitle',
                    change: 'subtitle',
                    subtitle: said,
                    speakerName: speakerName
                };
                Unity.call(JSON.stringify(jsonData));
            }
        }

        function restart() {
            speechRec.start(continuous, interimResults);
        }

        function conversation_button() {
            if (conversationBtn.innerHTML == "영상시청모드 시작") {
                speechRec.start(continuous, interimResults);
                var jsonData = {
                    flag: "activate camera - video mode"
                };
                Unity.call(JSON.stringify(jsonData));
                conversationBtn.innerHTML = "영상시청모드 종료";
            } else if (conversationBtn.innerHTML == "영상시청모드 종료") {
                speechRec.stop();
                var jsonData = {
                    flag: "deactivate camera"
                };
                Unity.call(JSON.stringify(jsonData));
                debugLog.innerHTML =
                    `<p>"ended video mode"</p>`
                socket.emit('leave', {
                    username,
                    room_id
                });
                location.href = "{{ url_for('menu')}}";
            }
        }

        socket.on('send_data', (data) => {
            debugLog.innerHTML = `sending data: ${data.speaker}, ${data.positionX}, ${data.positionY}`;
            const speakerName = data.speaker;
            const positionX = data.positionX;
            const positionY = data.positionY;
            var jsonData = {
                flag: "show subtitle",
                change: "speaker position",
                speaker: speakerName,
                positionX: positionX,
                positionY: positionY
            };
            Unity.call(JSON.stringify(jsonData));
        });
    </script>
{% endblock %}